/*-----  GLOBAL  -----*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Circular Std, sans-serif;
    overflow-x: hidden;
}

body {
    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    color: #2b9dff;
}
h3 { font-size: 24px;}
p {font-size: 16px;}


/*-----  HEADER  -----*/
header {
    height: 1000px;
    min-height: 1000px;
    padding: 0 5%;
    background-image: url("../img/background_header.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
}

/*-----  NAV  -----*/
nav {
    line-height: 150px;
    text-align: right;
}

nav a {
    text-decoration: none;
    color: #202427;
    font-size: 20px;
    font-weight: 700;
}
nav a:first-child {
    float: left;
}
nav a span{
    background-color: #2b9dff;
    padding: 5px 15px;
    border-radius: 1000px;
    font-weight: 100;
    color: white;
    margin-left: 7px
}
nav a img { vertical-align: middle; }


header h1 {
    width: 40%;
    margin: 2em 0 0 0;
}

.btnOutline {
    display: block;
    text-decoration: none;
    color: #2b9dff;
    border: 2px solid #2b9dff;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}


/*-----  TEAM  -----*/
.team {
    text-align: center;
    margin: 10em 0 3em 0;
    padding: 0 5%;
    background-image: url(../img/background_team.png);
    background-repeat: no-repeat;
    background-position: center;
}

.team h1 {
    width: 50%;
    margin: 0 auto 30px auto;
}

.members {
    display: flex;
    justify-content: center;
}
.person {
    margin: 0 30px;
    color: #202427 
}
.person h3 {
    margin-bottom: 5px;
}


/*-----  ABOUT  -----*/
.about {
    padding: 0 5%;
    background-image: url(../img/background_about.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80%;
    height: 900px;
    min-height: 900px;
}

.about h1 {
    margin-bottom:30px;
    padding-top: 300px;
}
.about__icons img { margin-right: 30px;}

.about h1, .about__icons {
    margin-left: 50%;
}


/*-----  CALL TO ACTION  -----*/
.callToAction {
    text-align: center;
    padding: 20em 5% 20em 5%;
    background-image: url(../img/background_calltoaction.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
}

.btnFilled {
    display: block;
    text-decoration: none;
    color: white; 
    background-color: #2b9dff;
    border-radius: 6px;
    width: 175px;
    height: 53px;
    line-height: 53px;
    text-align: center;
    margin-top: 30px;
}

.callToAction h1, .callToAction a {
    display: inline-block;
    margin: 0 60px;
    vertical-align: middle;
}


/*-----  FOOTER  -----*/
footer {
    padding: 0 5%;
    margin-bottom: 40px;
    color: #2b9dff;
}

footer p, .footer__pages {
    display: inline-block;
}

.footer__pages { float: right; }
.footer__pages a {
    text-decoration: none;
    font-weight: 100;
    color: #2b9dff;
    margin-left: 30px;
}


/*-----  RESPONSIVE  -----*/
@media only screen and (max-width: 1000px) {
    header {
        height: 1600px;
        min-height: 1600px;
        background-image: url("../img/mobile_background_header.png");
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: contain;
    }
    header h1 { width: 100%; }

    .team {
        margin: 3em 0;
        background-image: url(../img/mobile_background_team.png);
        background-position: top;
    }
    .team h1 {
        width: 100%;
    }

    .about {
        background-image: url(../img/mobile_background_about.png);
        background-size: contain;
        height: 900px;
        min-height: 900px;
    }
    .about h1 { 
        padding-top: 900px;
    }
    .about h1, .about__icons {
        margin-left: 0;
    }

    .callToAction {
        margin-top: 20em;
        padding: 15em 5%;
        background-size: 70%;
    }
    .callToAction h1, .callToAction a {
        margin-bottom: 30px;
    }

    footer {
        text-align: center;
    }
    .footer__pages {
        visibility: hidden;
    }
    footer p, .footer__pages {
        display: block;
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 1300px;
        min-height: 1300px;
    }
    header h1 { margin: 3em 0 0 0; }

    .about h1 {
        padding-top: 800px;
    }

    .members {
        flex-direction: column;
    }
    .person {
        margin-top: 30px;
    }
}


