* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
    max-width: 100%;
    font-family: Helvetica Neue, sans-serif;
	font-size: 16px;
	margin:  0 auto;
	color: #41537D;
}

.top_menu {
	margin: 1% 0;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

.nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.container_top {
	max-width: 375px;
	margin-right: inherit;
}

.btn_search,
.menu__item_top {
	margin-right: 35px;
}

.menu__item_top a {
	color: #41537D;
	font-size: 17px;
}

.btn__menu_top {
	border: 1px solid #5E66FF;
	box-sizing: border-box;
	border-radius: 0px 8px 0px 0px;
	font-size: 17px;
	color: #5E66FF;
	padding: 10px 20px;
}

.btn__menu_top:hover {
	background-color: #5E66FF;
	color: #fff;
}

hr {
	border: 1px solid #E1E4E9
}

header {
	padding: 1% 0;
}

.logo {
	margin-right: 7%;
}

ul, li {
	display: block;
}

a { 
	text-decoration: none;
	transition: all 0.5s ease;
}

p {
	font-size: 20px;
	line-height: 31px;
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.menu__item {
	margin-right: 7%;
}

.menu__item a {
	text-transform: uppercase;
	color: #41537D;
}

.menu__item_top a:hover,
.menu__item a:hover {
	color: #5E66FF;
}

.btn {
	margin-left: auto;
}

.btn__facebook {
	margin-left: 4%;
}

.main_screen {
	background: url(..//img/main_screen.png) no-repeat top right / cover;
	background-size: 45%;
	height: 100%;
    min-height: 640px;
    background-color: #FAFBFB;
	padding: 2% 0;
}

.title {
	color: #3D5174;
	width: 50%;
	margin-top: 13%;
}

.title h1 { font-size: 42px; }

.title h1, .title p {
	margin-left: 28%;
	position: relative;
	padding: 1.5% 0;
}

.title h1:after {
	display: block;
    width: 116px;
    content: '';
    position: absolute;
    border-bottom: 5px solid #F16C4B;
    top: 70px;
}

main .container {
	max-width: 75%;
	margin-bottom: 20%;
}
.main_title {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-bottom: 8%;
}
.main_title .text {
	width: 30%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-right: 10%;
}

.text h2 {
	font-size: 36px;
	color: #303A5F;
	margin-bottom: 7%;
}


/****** about.html *******/

.main_title_about {
	margin-bottom: 8%;
}

.main_title_about .text {
	width: 90%;
	margin: 3% 10% 0 0;
}

.main_title_about h3 {
	margin-bottom: 5%;
	font-size: 16px;
	text-transform: uppercase;
}

.main_title_about h2{
	margin-bottom: 2%
}

.main_title_about p{
	margin-bottom: 2%;
}

.main_title_about time {
	color: #8390AE;
	font-size: 16px;
}



/****** stories.html ******/

.main_title_stories,
.main_title_stories p {
	width: 80%;
	margin-bottom: 4%;
}

.main_title_stories .text {
	width: 90%;
	margin: 3% 10% 0 0;
}

.main_title_stories h3 {
	margin-bottom: 5%;
	font-size: 16px;
	text-transform: uppercase;
}

.main_title_stories h2{
	margin-bottom: 0.5%
}
.main_title_stories .text p{
	margin-bottom: 2%;
}

.feedback { margin-bottom: 2%;}

.feedback, 
.feedback_text {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.feedback img {
	width: 32px;
	height: 38px;
}
.feedback span {
	box-sizing: border-box;
	background-color: #F0F2F8;
	border-radius: 50%;
	padding: 15px 20px;
}

.feedback_text {
	flex-direction: column;
	justify-content: center;
	margin-left: 2%;
}

.feedback_text h5 {
	font-size: 16px;
	font-weight: normal;
	color: #4C5B7C;
	margin-bottom: 5px;
}

.feedback_text time {
	color: #8390AE;
	font-size: 16px;
}